### Задача №1

#### Даны значения зарплат из выборки выпускников:
#### 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150

#### Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.), посчитайте (несмещённое) среднее квадратичное отклонение для данной выборки.

Среднее квадратическое отклонение рассчитывется по формуле: $$\sigma_X = \sqrt{\dfrac{1}{n - 1} \displaystyle\sum_{i = 1}^n \left( x_i - \overline{X} \right)^2}$$

In [1]:
salary = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150]

Рассчитаем величину средне арифмитического значения зарплаты $ \overline{X} $ (обозначим mean)

In [2]:
mean = sum(salary)/len(salary)
mean

73.14285714285714

Найдем чему равно $ (x_i - \overline{X})^2 $

In [3]:
salary_2 = [(x - mean)**2 for x in salary]
salary_2

[721.3061224489799,
 47.02040816326536,
 3.44897959183675,
 14.877551020408195,
 251.44897959183686,
 1611.4489795918364,
 792.0204081632651,
 2317.734693877551,
 66.30612244897952,
 3152.020408163265,
 1861.3061224489793,
 24604.163265306124,
 2415.020408163265,
 260.59183673469374,
 329.1632653061223,
 9.877551020408138,
 3.44897959183675,
 66.30612244897952,
 117.87755102040825,
 284.1632653061226,
 5907.0204081632655]

In [4]:
a = ((1/(len(salary)-1))*sum((salary_2)))**0.5
a

47.34795213553139

### Задача №2

#### Найдите число выбросов в выборке из задачи 1. Для определения выбросов используйте методику как при построении “усов” в boxplot, однако, как и в задаче 1, пользоваться можно только встроенными функциями и структурами данных.

Отсортируем значение зарплаты по возрастанию

In [5]:
salary_sort = sorted(salary)
salary_sort

[17,
 24,
 25,
 30,
 33,
 45,
 55,
 57,
 65,
 65,
 70,
 75,
 75,
 77,
 80,
 84,
 89,
 90,
 100,
 150,
 230]

Определяем количество записей в выборке

In [6]:
print('Количество записей в выборке: ', len(salary_sort))

Количество записей в выборке:  21

Находим значение медианы

In [7]:
def median(salary_sort):
    '''Медиана числового ряда'''
    n = len(salary_sort)
    mid = n // 2
    if n % 2 == 1:
        return (salary_sort)[mid]
    else:
        return mean((salary_sort)[mid-1:][:2])

In [8]:
median = median(salary_sort)
print('Медиана: ', median)

Медиана:  70

Определяем первый квартиль

Посчитаем первый квартиль, т.е. квартиль порядка $0.25$. Процесс похож на вычисление медианы, просто делить будем не на $2$, а на $4$. Правило вычисления квартиля:
* Если размер массива делится на 4 нацело, то первый квартиль будет находиться между крайним правым элементом из левой четверти (в отсортированном массиве) и элементом, следующим за ним.
* Если размер массива на 4 не делится, то первым квартилем будет элемент, стоящий на позиции $[n / 4] + 1$, где $[x]$ — целая часть числа $x$.

Итак, остаток от деления длины массива на $4$:

In [9]:
len(salary_sort) % 4

1

Значит, квартиль придётся на конкретный элемент, а именно элемент с индексом len(salary_sort) // 4 (поскольку индексация происходит с нуля).

In [10]:
q1 = salary_sort[(len(salary_sort) // 4)]
print('Первый квартиль: ', q1)

Первый квартиль:  45

Определяем третий квартиль

In [11]:
q3 = salary_sort[(len(salary_sort)*3 // 4)]
print('Третий квартиль: ', q3)

Третий квартиль:  84

Определяем интерквартильное расстояние:

In [13]:
iqr = q3-q1
iqr

39

Определяем выбросы.
Для этого рассчитаем верхнюю и нижнюю границы выборки: $$\left[ Q_1 - 1.5 \times IQR, \: Q_3 + 1.5 \times IQR \right],$$

In [14]:
boxplot_low = q1-1.5*iqr
boxplot_high = q3+1.5*iqr
print('Нижняя гранийа выборки: ', boxplot_low)
print('Верхняя гранийа выборки: ', boxplot_high)

Нижняя гранийа выборки:  -13.5
Верхняя гранийа выборки:  142.5

In [20]:
for i in range(len(salary_sort)):
    if salary_sort[i]<boxplot_low or salary_sort[i]>boxplot_high:
        print(f'Значение, попавшее в выброс: {salary_sort[i]}')

Значение, попавшее в выброс: 150
Значение, попавшее в выброс: 230

#### Ответ: число выбрасов: 2

### Задача №3

#### В университет на факультет A поступило 100 человек, на факультет B - 90 человек и на факультет C - 45 человек. Вероятность того, что студент с факультета A сдаст первую сессию, равна 0.6. Для студента с факультета B эта вероятность равна 0.7, а для студента с факультета C - 0.8. Случайным образом выбирается студент, сдавший первую сессию. Какое событие наиболее вероятно:
#### 1.	студент учится на факультете A,
#### 2.	студент учится на факультете B,
#### 3.	студент учится на факультете C?

Найдем вероятность того, что на удачу выбранный студент будет:
- С факультета А
- С факультета В
- С факультета С

Общее количество поступивших студентов:

In [1]:
q_u = 100+90+45
q_u

235

In [3]:
p_a = 100/q_u
p_b = 90/q_u
p_c = 45/q_u
print(p_a, p_b, p_c)

0.425531914893617 0.3829787234042553 0.19148936170212766

Вероятность сдачи сессии известна по условиям задачи. Вероятность двух и более событей равна сумме произведений вероятностей

In [6]:
p_t = 0.6*p_a + 0.7*p_b + 0.8*p_c
p_t

0.676595744680851

Далее по формуле Байеса определяем вероятность того, что случайно взятый студент (сдавший первую сессию) учится на факультете А,В или С

$$P(A | B) = \dfrac{P(B | A) \cdot P(A)}{P(B)}$$

С факультета А:

In [7]:
A = 0.6*p_a/p_t
A

0.3773584905660377

С факультета В:

In [9]:
B = 0.7*p_b/p_t
B

0.39622641509433965

С факультета С:

In [10]:
C = 0.8*p_c/p_t
C

0.22641509433962265

#### Ответ: наиболее вероятно, что студент будет с факультета В.